@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Prosto+One&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background-color: #000000 !important;
  color: #fff !important;
}
#root, .app{
  width: 100%;
  height: 100%;
}
body, .home-wrapper, .nombre-wrapper, .utd-wrapper, .carrera-wrapper{
  margin:0;
  display:grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  font-family: Montserrat;
  font-weight: 600;
}
ul{
  padding-left: 0 !important;
}


nav{
  position: fixed;
  background-color: #202020;
  display: grid;
  gap: 2rem;
  place-content: center;
  z-index: 99;
  transition: all 0.5s ease;
  padding-top: 2rem;
}
nav ul{
  list-style-type: none;
  font-size: 1.25rem;
}
nav li{
  margin-block: 1rem;
  height: 3rem;
}
nav a{
  text-decoration: none;
  font-size: 1.5rem;
}

nav a:hover > .hash{
  animation: list-hover 2s ease-out forwards;
}
nav a:hover > .nav-link-style::after{
  transform-origin: left;
  scale: 1;
}

@keyframes list-hover {
  0%{
    color: #fff;
    
    text-shadow: 0 0 1rem #ffffff50;
  }
  100%{
    color: #ffffff50;
  }
}

nav a .hash{
  color: #ffffff50;
  margin-inline-end: 1.5rem;
  margin-inline-start: -0.5rem;
  height: 1.5rem;
  aspect-ratio: 1;

}
.nav-link-style{
  color: #ffffff50;
  display: inline-block;
  width: fit-content;
  transition: color 0.6s cubic-bezier(0, 0, 0.19, 1.29), opacity 0.3s ease;
  animation: appear 0.5s ease forwards;
}
nav a:hover .nav-link-style{
  color: #fff;
}
.nav-link-style::after{
  content: "";
  height: 0.2rem;
  border-radius: 0.5rem;
  width: 100%;
  display: block;
  background-color: #fff;
  margin-top: 0.2rem;
  scale: 0 1;
  transition: scale 0.2s ease;
  transform-origin: right;
}
.nav-open{
  inset: 0 82% 0 0;
}
.nav-collapsed{
  inset: 0 93% 0 0;
}
.nav-collapsed .nav-link-style{
  display: none;
}
.nav-collapsed .hash{
  margin-inline: 0.3rem auto;
}
.nav-toggle{
  background-color: transparent;
  border: none;
}
.nav-toggle svg{
  color: #ffffff50;
  font-size: 2.5rem;
}
.nav-toggle svg:hover{
  animation: list-hover 3s ease-out forwards;
}
@keyframes appear {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
    display: inline-block;
  }
}


.home-wrapper{
  background-color: #000000;
}
.nombre-wrapper{
  background-color: #16425B;
}
.utd-wrapper{
  background-color: hsl(163, 36%, 41%);
}
.carrera-wrapper{
  background-color: darkblue;
}

h1{
  margin:0;
  padding:0;
  font-size: 7rem !important;
  text-transform:uppercase;
  position:relative;
  color: hsl(0, 0%, 50%);
}
h1:before{
  content:"";
  position:absolute;
  color: hsl(0, 0%, 100%);
  top:0;
  left:0;
  width:0%;
  overflow:hidden;
  transition:all 0.5s;
  white-space: nowrap;
}
h1:hover:before{
  width:100%;
}

.home:before{
  content: 'Inicio';
  color: white;
}
.nombre{
  text-align: center;
  font-size: 6rem !important;
  color: #ffffff50;
  transition: color 0.5s ease-out;
}
.nombre:hover{
  color: #fff;
}
.utd{
  color: hsl(0, 0%, 85%);
}
.utd:before{
  content: 'UTD';
  color: hsl(42, 79%, 68%);
}
.carrera{
  font-size: 5rem !important;
  text-align: center;
  color: #ffffff50;
  width: fit-content;
  transition: color 0.5s ease-out;
}
.carrera:hover{
  color: #fff;
}

h2{
  margin-block-end: 8rem;
}
.utd-logo{
  width: 50vw;
  padding: 2rem;
  background-color: #f6f6f6;
  border-radius: 0.5rem;
  transition: scale 0.2s ease;
}
.utd-logo:hover{
  scale: 1.05;
}

.fotopro{
  height: 13rem;
  width: 13rem;
  border-radius: 50%;
  transition: all 0.2s ease;
  box-shadow: 0 0 1rem 0.5rem #00000030;
}
.fotopro:hover{
  scale: 1.5
}
.wrapper-center{
  height: 100%;
  display: grid;
  padding-inline: 20%;
  place-items: center;
}
.carousel{
  width: 100%;
}
.carousel-item img{
  height: 500px ;
  width: 100%;
}


/* Responsividad */
@media (max-width: 1050px) {
  .nav-open{
    inset: 0 70% 0 0;
  }
  .nav-collapsed{
    inset: 0 90% 0 0;
  }
 .home, .utd{
    font-size:5rem !important;
  }
  .nombre{
    font-size: 4rem !important;
    width: 80%;
    margin-inline: auto;
  }
  .carrera{
    font-size: 3rem !important;
    width: 70%;
    margin-inline: auto;
  }
}
@media (max-width: 600px){
  .nav-open{
    inset: 0 60% 0 0;
  }
  .nav-link-style{
    font-size: 1rem;
  }
  .nav-toggle svg{
    font-size: 1.5rem;
  }
  .nav-collapsed .hash{
    margin-inline-start: 0.1rem;
  }
  .hash{
    height: 1rem !important;
    width: 1rem;
  }
  .nav-collapsed{
    inset: 0 88% 0 0;
  }
  .carrera{
    font-size: 1.5rem !important;
    width: 75%;
    margin-inline: auto;
  }
  .nombre{
    font-size: 2.5rem !important;
    width: 70%;
    margin-inline: auto;
  }
  .wrapper-center{
    padding-inline-start: 15%;
    padding-inline-end: 5%;

  }
}
@media (hover: none){
  body{
    overflow: hidden;
  }
}


.info-container{
  width: 100%;
  align-self: start;
  padding-inline: 12%;
  padding-block: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.info-container .card{
  background-color: #ffffff10;
  border-radius: 0.5rem;
  border: 2px solid #ffffff50;
  padding: 1rem;
  width: min(22rem, 70vw);
  transition: all 0.3s ease;
  opacity: 0;
  translate: 0 2rem;
  box-shadow: inset 0 0 1rem #ffffff05, 0 0 1.5rem #ffffff10;
}
.info-container .card h2{
  text-align: center;
  color: #ffffff80;
  transition: all 0.2s ease;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #ffffff20;
}
.info-container .card p{
  padding-top: 0.5rem;
  text-align: justify;
  color: #ffffff60;
  transition: color 0.4s ease;
  font-weight: 300;

}
.info-container .card:hover{
  border-color: #ffffff95;
  box-shadow: inset 0 0 1rem #ffffff10, 0 0 1.5rem #ffffff20;

}
.info-container .card:hover > h2{
  color: #fff;
  border-color: #ffffff50;
}
.info-container .card:hover > p{
  color: #ffffff95;
}

.first{animation: card-appear 1s 0.2s ease forwards}
.second{animation: card-appear 1s 0.4s ease forwards}
.third{animation: card-appear 1s 0.6s ease forwards}


@keyframes card-appear {
  100%{opacity: 1; translate: 0;}
}